<!--The content below is only a placeholder and can be replaced.-->
<div>
 <!--  Hello {{ title }}
  {{ displayedColumns }} -->
<mat-form-field>
<input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="myDate">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field>
<input matInput placeholder="type" [(ngModel)]="myType">
</mat-form-field>

<button mat-button (click)="getData()">Click me!</button>

<table class="mat-elevation-z8">
<tr>
<th *ngFor="let t of displayedColumns">
  {{ t }}
</th>
</tr>
<tr *ngFor="let d of myData">
  <td *ngFor="let t of displayedColumns">
    {{ d[t] }}
  </td>
</tr>
</table>

</div>